<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <title>CVButler | Professional CVs made easy</title>
    <style>
        .fullname {
            width: auto;
            text-align: center;
            display: flex;
            justify-content: center;
        }

        .subheading {
            width: auto;
            text-align: center;
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <header>
        <div class="fullname black-text"><strong><h1>William Mabotja</h1></strong></div>
        <div class="subheading black-text"><span class="city">Johannesburg, ZA</span>&nbsp;|&nbsp;<span class="phone">+27 73 341 1217</span>&nbsp;|&nbsp;<span class="email">williammabotjadev@gmail.com</span>&nbsp;|&nbsp;<span class="linkedin">linkedin.com/in/william-mabotja-cs</span></div>
    </header>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>